# This is a basic workflow to help you get started with Actions

name: CICD
env:
  EB_PACKAGE_S3_BUCKET_NAME : "elasticbeanstalk-eu-central-1-758059717204"
  EB_APLICATION_NAME        : "MyFlask"
  EB_EVIROMENT_NAME         : "MyFlask-env"
  DEPLOY_PACKAGE_NAME       : "flask_app_${{ github.sha }}.zip"
  AWS_REGION: "eu-central-1"
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Git Clone My Repository
        uses:  actions/checkout@v1

      - name: Create ZIP Deployment Package
        run: zip -r ${{ env.DEPLOY_PACKAGE_NAME  }} ./ -x *.git *_env

      - name: List Current Diractory
        run: ls -la
        
      # - name: execute few command
      #   run: |
      #     echo "Hello Massege1"
      #     echo ${{ env.APLICATION_NAME }} 

      # - name: Git Clone My Repository
      #   uses:  actions/checkout@v1 

      # - name: List Current Diractory
      #   run: ls -la


  
      
