# This is a basic workflow to help you get started with Actions

name: CICD
env:
  EB_PACKAGE_S3_BUCKET_NAME : "elasticbeanstalk-eu-central-1-758059717204"
  EB_APLICATION_NAME        : "MyFlask"
  EB_EVIROMENT_NAME         : "MyFlask-env"
  DEPLOY_PACKAGE_NAME       : "flask_app_${{ github.sha }}.zip"
  AWS_REGION: "eu-central-1"
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Git Clone My Repository
        uses:  actions/checkout@v1

      - name: Create ZIP Deployment Package
        run: zip -r ${{ env.DEPLOY_PACKAGE_NAME  }} ./ -x *.git* -x flask_test_env

      - name: List Current Diractory
        run: ls -la

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ACCESSKEYID }}  
          aws-secret-access-key: ${{ secrets.SECRETACCESSKEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Copy to zip file package S3 Bucket
        run: aws s3 cp ${{ env.DEPLOY_PACKAGE_NAME  }} s3://${{ env.EB_PACKAGE_S3_BUCKET_NAME }}


  cd_part:
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.ACCESSKEYID }}  
        aws-secret-access-key: ${{ secrets.SECRETACCESSKEY }}
        aws-region: ${{ env.AWS_REGION }}


    - name: Crete new Elastic Beans Aplication Version 
      run: |
        aws elasticbeanstalk create-aplication-version \
        --aplication-name ${{ env.EB_APLICATION_NAME }} \
        --source-boundle S3Bucket${{ env.EB_PACKAGE_S3_BUCKET_NAME }}, S3Key=${{ env.DEPLOY_PACKAGE_NAME }}
        --version-label Ver-${{ github.sha }}


    - name: Deploy New Version Aplication To AWS BeasTalk
      run: aws elasticbeanstalk update-enviroment \
        --enviroment-name ${{ env.EB_EVIROMENT_NAME }} \
        --version-label Ver-${{ github.sha }}